#root {
  text-align: center;
  background-color: #050506;
  height: 6261px;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}
 
body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;  /* Ensures no horizontal scrolling */
}
 
 
  